name: Déploiement GitHub Pages

on:
  push:
    branches:
      - main  # à chaque push sur main, le workflow se déclenche

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload site
        uses: actions/upload-pages-artifact@v1
        with:
          path: .  # on prend tout le dossier pour déploiement

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
